<% @streams.each do |stream| %>
<div class="col-md-4 stream-block">
  <%= link_to image_tag((stream.live ? '/live/jpg/' + stream.user.username + '_small.jpg' : stream.placeholder_url), class: 'img-responsive'), stream_path(stream) %>
  <% if stream.live %>
    <div class="live-tag"><span class="glyphicon glyphicon-facetime-video live-dot"></span>Live</div>
  <% end %>
  <h3><%= link_to stream.name, stream %></h3>
  <p><%= stream.description %></p>
</div>
<% end %>