.row
  .col-xs-12.col-md-12.col-lg-6
    

.row
  .col-xs-12.col-md-12.col-lg-6
    %h3 Encoder Requirements
    %p
      For the best streaming quality and experience, we
      %strong
        highly
      recommend the following encoder settings.
      .fixed
        x264 baseline CBR (2000kbit/s) @ 1280x720 - 96kbit/s AAC Audio
      %ul
        %li
          x264 / h264 encoder
          %ul
            %li baseline profile
            %li constant bitrate
            %li 25 fps
            %li key frame every 2 seconds (50 frames)
        %li
          AAC Audio
          %ul
            %li 96 kbit/s
            %li 44.100 kHz
  .col-xs-12.col-md-12.col-lg-6
    .server
      %strong RTMP Server:
      = Settings.rtmp.server
    .server
      %strong RTMP Application:
      = Settings.rtmp.app
    .private_key
      %strong Auth Key:
      = @stream.private_key


.row
  .col-xs-12.col-md-12.col-lg-6
    = link_to 'Download Flash Media Live Encoder XML', fmle_path, class: 'btn btn-primary'