<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>watchme.io - <%= @stream.name %></title>
    <%= javascript_include_tag "application" %>
    <style type="text/css" media="screen">
      html, body {
        margin: 0;
        padding: 0;
      }
    </style>
</head>
<body>
  <div id="player">
    <!-- PLAYER_PARTIAL -->
      <% if @stream.live? %>
        <%= render 'streams/players/' + current_user.settings(:player).tech %>
      <% else %>
        <%= render 'streams/players/offline' %>
      <% end %>
    <!-- END PLAYER_PARTIAL -->
    <script type="text/javascript" charset="utf-8">
      swffit.fit("player");
    </script>
  </div>
</body>
</html>
