<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1>watchme.I/O</h1>
      <p>Live stream your desktop, project or game.</p>
      <p><%= link_to 'Start Streaming', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
    </div>
    <div class="col-xs-12 col-md-6">
      <ul>
        <li>Live Viewer Chat</li>
        <li>MPEG-DASH</li>
        <li>Apple HLS</li>
        <li>HTTP Dynamic Streaming</li>
        <li>Legacy Flash Streaming</li>
        <li>Stream Recoding</li>
        <li>Video-On-Demand</li>
        <li>Stream to Desktop &amp; Mobile Devices</li>
      </ul>
    </div>
  </div>
</div>