// Place all the styles related to the Streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rest-in-place {
  &:after {
    font-family: 'Glyphicons Halflings';
    font-size: 75%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 10px;
    content: "\270f";
    color: #eee;
  }
  &:hover:after {
    color: #aaa;
  }
}
.rip-active {
  &:after {
    display: none;
  }
  
}
.emoji {
  width: 28px;
  height: 28px;
}
#html5_player {
  width: 100%;
  height: 100%;
  background-color: #000;
}
.btn-toolbar > div > .btn {
  padding: 6px 12px;
}
.wmd-preview {
  border-top: 1px #ccc dashed;
  border-bottom: 1px #ccc dashed;
  margin-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.btn-right {
  float: right;
}
#pagedown-textarea {
  width: 100% !important;
  margin-bottom: 10px;
  height: 350px;
}
.cant-chat {
  border-top: 1px #CCC solid;
  padding: 7px;
  color: #999;
}
#stream_container {
  height: 433px;
  width: 750px;
  box-sizing: content-box !important;
  margin-top: 15px;
}
#player {
  box-sizing: content-box !important;
  height: 433px;
  width: 750px;
}
.chat-pad {
  margin-top: 15px;
}
#stream {
  background-color: #000;
  color: #fff;
}
.offline {
  content: ' ';
  background-color: #000;
  color: rgba(255,255,255,0.3);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.chat_settings {
  height: 353px;
}
.chat {
  height: 353px;
  overflow-y: scroll;
  .message {
    word-break: break-all;
    padding: 3px;
    .name {
      font-weight: bold;
    }
    .body {
      word-wrap: break-word;
    }
  }
}
.no-autocomplete {
  resize: none;
}
#stream_container:hover > .player-popout {
  display: block;
  z-index: 999;
}
.float-right {
  float: right;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.settings {
  color: #333;
}
#settings_panel {
  position: absolute;
  background: inherit;
  width: auto;
}
.player-popout {
  display: none;
  position: absolute;
  right: 25px;
  top: 25px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
  font-size: 16px;
  z-index: 999;
}
.live-tag {
  background-color: rgba(0,0,0,0.5);
  border-radius: 2px;
  padding: 0px 5px 0px 5px;
  font-weight: bold;
  color: #d2001c;
  position: absolute;
  right: 30px;
  top: 5px;
  pointer-events: none;
}
#stream_body {
  width: 100%;
}
#wmd-button-bar {
  margin-bottom: 10px;
}
.live-dot {
  margin-right: 5px;
  top: 2px !important;
}
#new_message textarea {
  box-shadow: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-bottom: 8px;
  &:focus {
    background-color: #fafafa;
  }
}
.rest-in-place {
  display: inline-block;
}
.rest-in-place-name {
  outline: none;
  border: none;
  border-bottom: 1px #317EAC dashed;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  display: inline-block;
}
.header {
  height: 45px;
}
.stream_image {
  min-width: 100%;
  min-height: 200px;
  max-width: 100%;
  max-height: 200px;
  background-color: #000;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.img-stream {
  height: 200px;
  width: 350px;
  background-position: center;
  background-color: #000;
}
#lastfm {
  background-color: #f5f5f5;
  margin-top: 8px;
  margin-bottom: 9px;
  height: 50px;
  color: #333;
  background-color: #F5F5F5;
  border: 1px solid #DDD;
}
.lastfm_img {
  float: left;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 38px;
  color: #eee;
  text-align: center;
  &:hover {
    width: 256px;
    height: 256px;
    position: absolute;
    z-index: 99;
    box-shadow: 1px 1px 5px #444;
  }
}
.lastfm_info {
  display: inline-block;
  float: left;
}
.lastfm_artist {
  margin-left: 55px;
  font-weight: normal;
  font-size: 75%;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.lastfm_song {
  margin-left: 55px;
  padding-top: 5px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.amazonref {
  display: inline-block;
  float: right;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
  margin: 8px;
  background-image: image-url("amazon-logo.png");
  background-size: 100%;
  cursor: pointer;
}
.spotifyopen {
  display: inline-block;
  float: right;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
  margin: 8px;
  background-image: image-url("spotify-logo.png");
  background-size: 100%;
  cursor: pointer;
}
.color-c0392b {
  color: #c0392b;
}
.color-d35400 {
  color: #d35400;
}
.color-f39c12 {
  color: #f39c12;
}
.color-27ae60 {
  color: #27ae60;
}
.color-2980b9 {
  color: #2980b9;
}
.color-e74c3c {
  color: #e74c3c;
}
.color-e67e22 {
  color: #e67e22;
}
.color-f1c40f {
  color: #f1c40f;
}
.color-2ecc71 {
  color: #2ecc71;
}
.color-3498db {
  color: #3498db;
}
.color-8e44ad {
  color: #8e44ad;
}
.color-9b59b6 {
  color: #9b59b6;
}
.color-2c3e50 {
  color: #2c3e50;
}
.color-34495e {
  color: #34495e;
}
.color-7f8c8d {
  color: #7f8c8d;
}

